<!-- About Page -->
{% extends "etch_mobility/index.html" %}

{% load static %}

{% block material %}
  <div class="about">
    <main role="main" class="container py-3 my-3">

      <!-- Text -->
      <div class="d-flex mt-auto justify-content-center flex-wrap-reverse">
        <div class="col-md-8 pb-5 markdown">
          {{ markdown | safe }}
        </div>
      </div>

      <!-- Call to Action -->
      <div class="col-md-8 mx-auto">
        {% include "etch_mobility/layout/call-to-action.html" %}
      </div>

    </main>
  </div>

{% endblock %}
