<html lang="en-US">
  <head></head>
  <body style="margin: 0; font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif; color: #2f2e30;">
    <div style="position: relative; overflow: hidden; margin:0 auto 60px; border: none; max-width:600px; background-color: #fff; padding:0 48px;">
      <header style="text-align:center;">
        <a href="https://etchmobility.com">
          <img
            style="width: 100px; height: 100px;"
            src="https://etchmobility.com/static/etch_mobility/images/illustrations/brilliant_ideas_shipping.png"
          >
        </a>
      </header>
      <section id="pr-body">
        <p style="margin: 24px 0; font-size: 16px; color: #2f2e30;">
          Dear Etch Mobility,
        </p>
        <p style="margin: 24px 0; font-size:16px; color: #2f2e30;">
          {{ message }}
        </p>
        <p style="margin: 24px 0 0; font-size:16px; color: #2f2e30;">
          From,
        </p>
        <p style="margin: 0 0 24px; font-size:16px; color: #2f2e30;">
          {{ name }}
        </p>
      </section>
      <footer style="display:flex;">
        <div style="width:50%;">
          <ul style="list-style-type: none; margin: 0; padding: 0; font-size: 13px; color: #9b9fa2;">
            <li style="margin:0;">
              <span style="color: #c60000; font-size: 16px;">
                Etch Mobility
              </span>
            </li>
            <li style="margin:0;">
              <span>
                <a
                  style="color: #477dca; text-decoration: none;"
                  href="tel:13609153209"
                >
                  (360) 915-3209
                </a>
              </span>
            </li>
            <li style="margin:0;">
              <span>
                <a
                  style="color: #477dca; text-decoration: none;"
                  href="mailto:michargecommunity@gmail.com"
                >
                  michargecommunity@gmail.com
                </a>
              </span>
            </li>
            <li style="margin:0;">
              <span>
                <a
                  style="color: #477dca; text-decoration: none;"
                  href="https://etchmobility.com"
                >
                  etchmobility.com
                </a>
              </span>
            </li>
          </ul>
        </div>
        <div style="width:50%;"></div>
      </footer>
    </div>
  </body>
</html>
