<!doctype html>
<html>
  <hr class="featurette-divider invisible-divider">
  <div class="container px-3 p-sm-0">
    <div
      class="col my-5"
    >
      <h2 class="featurette-heading text-dark mb-3">
        Ready to get started?
      </h2>
      <div>
        <a
          type="button"
          class="btn btn-primary mb-3"
          href="{% url 'contact' %}"
        >
          Contact us
        </a>
        <a
          type="button"
          class="btn btn-secondary mb-3"
          href="{% url 'about' %}"
        >
          Learn more
        </a>
      </div>
    </div>
  </div>
</html>
